<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^1(index\.php|css|js|img|images|assets|fonts|robots.\txt)
    #RewriteRule ^(.*)$ index.php/$1 [L]
    RewriteRule ^(?!index.php/)(.*)$ index.php/$2 [L]
</IfModule>